@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

*{
	margin: 0;
	padding: 0;
}

body{

	font-family: 'Fjalla One', sans-serif;
	background: #eceff1;


}


.comentarioP{

	margin: auto;
	width: 50%;


}

#comentarioComentario{

	font-size: 13px;
	font-weight: 1;
	padding: 3px;
background: #C8DDE2;
border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px


}

#nombreComentario{

	font-size: 16px;
	background: #9AC6F7;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	padding: 3px;

}

#mostrandoComentarios{
	margin-bottom: 15px;
	margin-top: 65px;
	text-align: center;


}


#titulo10{

	margin-top: 20px;
	
}

#btnComentar{

	margin-bottom: 50px;

}